* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV */

header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 250px);
  height: 80px;
  background-color: blue;
}


/* nav {
  width: 100vw;
  height: 80px;
  background-color: blue;
} */


.button_upgrade {
  width: 200px;
  height:80px;
  background-color:orange;
  float: right;
  border: black solid 2px;
}

/* ASIDE */

aside {
  width: 250px;
  height: 100%;
  background-color: lightgreen;
  display: flex;
  /* position: fixed;
  z-index: 1; */
  top: 0;
  left: 0;
  flex-direction: column;

}

div.aside_cont {
  width: 100%;
  height: 70px;
  background-color: orange;
  border: black solid 2px;
}

/* .nav_aside_cont.john {
  position: absolute;
  bottom: 0;
} */

/* MAIN */

main {
  height: calc( 100vh - 100px);
  background-color: green;
  display: flex;
}

.big_container_sections {
  width: calc(100% - 250px);
  padding-top: 80px;
  overflow-y: auto;
}

/* SELECT OPTIONS */

div.container_select_options{
  width: 100%;
  height: 200px;
  background-color: purple;
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.lista_main {
  width: 150px;
  height: 50px;
  background-color: orange;
  border: black solid 2px;
  margin-top: 12px;
  margin-right: 15px;
}

/* SECTION MOVIE LIST */

/* div.container_movies {
  width: 100%;
   height: 100%;
  background-color: grey;

} */

div.row {
  height: 200px;
  background-color: purple;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: calc(100% / 6);
  height: 170px;
  background-color: lightblue;
  border: black solid 1px;
  /* margin-right: 5px; */
}

/* FOOTER */

footer {
  /* width: 100vw; */
  height: 100px;
  background-color: blue;
  /* position: fixed; */

  display: flex;
}

.controllers_container {
  margin-left: 10px;
}

.controllers_container.left {
  width: 40%;
  height: 100%;
  margin-left: 0;
  background-color: orange;
  border: black solid 1px;
  flex-grow: 0;
}


.controllers_container.center {
  width: 100%;
  height: 100%;
  background-color: orange;
  border: black solid 1px;
  flex-grow: 1;
}

.controllers_container.right {
  width: 40%;
  height: 100%;
  background-color: orange;
  border: black solid 1px;
  flex-grow: 0;
}
